<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/styles.css" type="text/css">
  </head>
  <body>
    <h1><%= header %></h1>
    <form action="<%= action %>" method="post">
      <p>
        <label for="userId">userId:</label>
        <input type="text" id="userId" name="userId" size="5">
      </p>
      <button type="submit">Submit</button>
    </form>
    <a href="/"><button>Menu</button></a>
  </body>
</html>
